# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Logs and test outputs
*.log
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyenv
.python-version

# dotenv
.env.local
.env.*

# macOS
.DS_Store

# Windows
Thumbs.db
